
.mini-logo{
    width: 40px;
}

.navbar{
    letter-spacing: 0.3px;
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
    background-color: #0A0F3C;
    
    
}

.nav-link{
    color: white;  
}

